#background {
    z-index:-1;
    align-content: center; 
    position: fixed; 
    height: 100%;
    width: 100%;
    background-image: url("https://miro.medium.com/max/1306/1*7cp_6xnOq1lmBXP4Oo_Ltg.png");    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.2;  
}

.pokemon-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

#army-submission-container{
  top: 2vh;
  width: 100%;
  position: absolute;
}

#navbar{
  position: absolute;
  top: 0;
  right: 0;
}

#army-submission-fields{
  width: 30%;
}

.pokemon-army{
  position: absolute;
  top: 7vh;
  height:38vh;
  width:100%;
  border-bottom: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#searchbar{
  top: 45vh;
  width: 100%;
  position: absolute;
  z-index:1;
}

.pokemon-container{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  height:45vh;
  width:100%;
}

.pokemon-div{
  border: 2px solid black;
  height: 35vh;
  width: 25vh;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

#login-form-container{
  display: table-cell;
  width: 1000px;
  height: 1000px;
  vertical-align: middle;
  text-align: center;   
}

#login-form{
  display: inline-block;
  width: 400px; height: 400px;
}

#teams-page{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  height:95vh;
  width:100%;
  z-index:2;
  font-size: calc(10px + 2vmin);
  color:black;
}

.poketeams{
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}

#welcome-text {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 15px 20px rgba(0,0,0,.15);
  font-size: 65px;
  opacity: .8;
}

#home-page{
  visibility: hidden;
  height: 100%;
  width: 100%;
}

.gsap-div{
  top: 0;
  height: 30vh;
}

#welcome-div{
    width:40%;
    margin: auto;
    text-align: center;
}

#home-page-link-options{
  width:40%;
  margin: 0 auto;
  text-align: center;
}

.top-tag{
  position: absolute;
  right: 6%;
  color: red;
}
.nav-link{
  width: 100px;
  padding: 12px;
  margin: 0 6px 6px;
  background: blue;
  color: white;
  background-color: darkblue;
}
#home-page-link-options{
  display: flex;
  width: 20%;
  justify-content: space-around;
  list-style: none;
}

.gsap-div {
  top:5%;
  position: absolute;
  height: 30%;
  width: 100%;
}

  .gsap-closed {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height:60%;
  }

  .gsap-opened{
    height:10%;
    text-align: center;
    opacity: 0;
    pointer-events: none;
  }

  .gsap-opened h1 a {
    text-decoration: none;
    color: black;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 15px 20px rgba(0,0,0,.15);
    font-size: 120px;
    border: 3px solid black;
    border-radius: 25%;
    background: white;
    padding: 1%;
  }

  .pokemon-movers {
    max-width:15%;
    height:auto;
  }
  .bottomPage {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:60%;
  }