#background {
    align-content: center; 
    position: fixed; 
    height: 100%;
    width: 100%;
    background-image: url("https://miro.medium.com/max/1306/1*7cp_6xnOq1lmBXP4Oo_Ltg.png");    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.2;  
}

.pokemon-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
}

#army-submission-container{
  top: 2vh;
  width: 100%;
  position: absolute;
}

#navbar{
  position: absolute;
  top: 0;
  right: 0;
}

#army-submission-fields{
  width: 30%;
}

.pokemon-army{
  position: absolute;
  top: 7vh;
  height:38vh;
  width:100%;
  border-bottom: 2px solid white;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#searchbar{
  top: 45vh;
  width: 100%;
  position: absolute;
  z-index:1;
}

.pokemon-container{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  height:45vh;
  width:100%;
}

.pokemon-div{
  border: 2px solid black;
  height: 35vh;
  width: 25vh;
  margin: 10px;
  text-align: center;
}

#login-form-container{
  display: table-cell;
  width: 1000px;
  height: 1000px;
  vertical-align: middle;
  text-align: center;
      
}

#login-form{
  display: inline-block;
  width: 400px; height: 400px;
}

#teams-page{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  height:95vh;
  width:100%;
  z-index:2;
  font-size: calc(10px + 2vmin);
  color:black;
}

.poketeams{
  border: 2px solid black;
  display: flex;
  flex-direction: row;
}